<div class="container">
  <div class="mt-4">
    
    <div class="col-md-8 offset-3">
      <h2>ジャンル編集</h2>
      <div class="col-8 mt-4" style="margin-bottom: 400px;">
        <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch, local:true do |f| %>
          <%= f.label :genre, "ジャンル名" %>
          <%= f.text_field :name %>
          <%= f.submit "変更を保存", class:"btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>