<% if @teacher == current_teacher %>
  <h3>お気に入り一覧</h3>
    <% if @favorite_list.present? %>
      <table class = "table table-hover table-inverse text-center">
        <thead>
          <tr>
            <th class="table-active">商品イメージ</th>
            <th class="table-active">商品名</th>
            <th class="table-active"> ジャンル名</th>
            <th class="table-active">商品詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @favorite_list.each do |item| %>
            <tr>
              <td><%= image_tag item.image, size: "50x50" %></td>
              <td><%= link_to item.name, item_path(item) %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.memo %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--ページネーション～kaminari～-->
      <%#= paginate favorites %>
    <% else %>
      <p class="container">お気に入りはありません。</p>
    <% end %>
<% end %>