<table class="table">
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= teacher.name %></th>
  </tr>
</table>

  <div class="row">
    <%= link_to "編集する", teachers_information_edit_path, class: "btn btn-success" %>
  </div>