<div class="container mt-5 mb-5">
  <div class="row">

    <%= render "public/items/genre_form", genres: @genres %>

     <div class="col-10">
       <h3 class="inline-block">消耗品一覧(全<%= @items.count %>件）</h3>
       <br>
       <%= render 'index',items: @items %>
       <!--ページネーション～kaminari～-->
       <div class="col-2 offset-5">
        <%= paginate @items %>
       </div>
     </div>
     
  </div>
</div>