<footer class="pt-3 bg-secondary bg-dark text-white">
  <div class="container mt-3">
    <div class="col-md-12">
      <h4 class="undertext text-white text-center">© 2022 Mono-Kan ALL Rights Rserbed.</h4>
    </div>
  </div>
</footer>